body{
    background-color: gainsboro;
    }
    header > img {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 500px;
    }
    
    nav{
        text-align: center;
    }
    nav ul{
        list-style-type: none;
        text-align: center;
        background-color: grey;
        border-radius: 20px;
        height: 30px;
        margin: 0 auto;
        padding: 0;
        padding-top: 10px;
        overflow: hidden;
       
        
    
    }
    li{
       display:inline; 
    }
    li:hover{
     background-color: rgb(72, 72, 72);
    }
    li a{
       
        color:white;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 10px;
        text-decoration: none;
        font-size: 20px;
    
    }

    .container{
        background-color:gainsboro ;
        background-image: url("/images/Fathers.jpg");
        color:white;
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;


    }
    
    section {
        display: flex;
        gap: 20px;
        margin: 20px auto;
        max-width: 1200px; 
    }
    article{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        background-color: blanchedalmond;
        border-radius: 10px;


    }
    
   
    
    article > h1 {
        
        font-size: 1.5rem;
        margin-bottom: 25px;
        margin-left: 25px;
        color: #444;
    }
    
    article > img {
        width: 90%;
        height: 150px;
        object-fit: cover;
        margin-bottom: 15px;
        margin-left: 18px;
    }
    
    article > p {
        font-size: 0.9rem;
        text-align: left;
    }
    
    article > button {
        background-color: blanchedalmond;
        color: #2781d6;
        padding: 10px 15px;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 90px;
        text-align: left;
    }
    
    .foot{
        display: flex;
        justify-content: space-between;
    }
     .foot > img{
        margin-right:auto;
        width: 35px;
        
    }
    
    .foot > p{
        text-align: right;
    }
    
    
    
    
